// variables
$font-size: 24px;
$text-color: #686868;

.text-field-container {
  margin-top: 1rem;
  margin-right: 0;
  background-color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1.8rem;
  border-radius: 5px;

  input {
    width: 100%;
    border: none;
    padding: 0;
    font-size: $font-size;
    font-weight: 900;
  }

  input:focus {
    outline: none;
  }

  ::placeholder {
    color: #919699;
  }
}
.label {
  width: 100%;
  color: $text-color;
}


mat-select{
  height: 33px;
}
::ng-deep .mat-select-placeholder {
  font-weight: bold;
  font-size: $font-size;
  color: #919699;
}