<<<<<<< HEAD
.map-container {
  border-radius: 8px;
  width: 100%;
  height: auto;
  flex:1; 
  overflow: hidden;  
  }
  .main-container {
    display: flex;
    overflow:hidden;

  }
  ::ng-deep .mapboxgl-marker  {
    background-image: url('../../../../assets/img/marker.svg');
    background-size: cover;
    width: 120px;
    height: 50px;
    cursor: pointer;
  }
=======
agm-map {
  height: 100%;
}
>>>>>>> c16e34586985beded5dacaef56da0c0c1234cbba
