<div class="sidenav shadow">
    <div class="nav-icon align-center"  [ngClass]="{'active': index == Pages.notification}" [routerLink]="['/notification']" (click)="next(Pages.notification)" >
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="divider"></div>
    <div [ngClass]="{'active': index == Pages.current}" (click)="next(Pages.current)" [routerLink]="['/home']" class="nav-btn align-center" >
        <img src="./../../../../assets/img/pocket.svg" alt="Pocket">
        <div class="label">Current</div>
    </div>
    <div [ngClass]="{'active': index == Pages.transfer}" (click)="next(Pages.transfer)" [routerLink]="['/transfer']" class="nav-btn align-center">
        <img src="./../../../../assets/img/transaction.svg" alt="transfer">
        <div class="label">Transfer</div>
    </div>
    <div [ngClass]="{'active': index == Pages.qrcode}" (click)="next(Pages.qrcode)" [routerLink]="['/qr']"  class="nav-btn align-center">
        <img src="./../../../../assets/img/qr.svg" alt="qr">
        <div class="label">QR Code</div>
    </div>
    <div [ngClass]="{'active': index == Pages.template}" (click)="next(Pages.template)" [routerLink]="['/template']"  class="nav-btn align-center">
        <img src="./../../../../assets/img/card.svg" alt="card">
        <div class="label">Template</div>
    </div>
    <div [ngClass]="{'active': index == Pages.report}" [routerLink]="['/report']"  (click)="next(Pages.report)"  class="nav-btn align-center">
        <img src="./../../../../assets/img/statement.svg" alt="statement">
        <div class="label">Report</div>
    </div>
    <div class="bottom">
        <div [ngClass]="{'active': index == Pages.location}" [routerLink]="['/location']" (click)="next(Pages.location)"  class="nav-icon align-center">
            <mat-icon>location_on</mat-icon>
        </div>
        <div [ngClass]="{'active': index == Pages.settings}" [routerLink]="['/settings']" (click)="next(Pages.settings)"  class="nav-icon align-center">
            <mat-icon>settings</mat-icon>
        </div>
    </div>
</div>