@import "../../../utilities/variables.scss";

.main{
  //botttom?
  bottom: 0;
}
.cur-type{
  font-style: bold;

}
.cur-amount{
  color:$gray;
}
ul {
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  height: 4rem;
  margin-left: -40px;
}
li{
  padding-right: 40px;
  align-self: center;
}