@import "../../../utilities/variables.scss";

.info {
  padding: 20px;
}

.more-rates {
  background-color: transparent;
  border: none;
  color: $red;
  font-size: 80%;
  margin-left: 0px;

  &:hover {
    cursor: pointer;
  }
}

.support {
  margin-top: 20px;
  padding: 20px 0px;
}

.mat-icon {
  display: inline-flex;
  vertical-align: middle;
}

.agent-support:hover {
  cursor: pointer;
}

.mini-fab {
  float: right;
  margin-top: -12px;
}
