.slider-container{
    position: relative;
    .left{
        position: absolute;
        left: -20px;
        top: 48%;
        color:#919699;
        &:hover{
            cursor: pointer;
        }
    }
    .right{
        position: absolute;
        right: 10px;
        top: 48%;
        color:#919699;
        &:hover{
            cursor: pointer;
        }
    }
}