@import "../../../../utilities/variables.scss";

.gridnotif {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.mat-row {
    color: $gray;
}


.gridnotif> div{
    align-self: center;
}

// Ard Financial Group

.gridnotifArd
{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.gridnotifArd > div
{
    align-self: center;
}

.notifIcon
{
    display: grid;
    height: 40px;
    width: 40px;
    border-radius: 10px;

}
.material-icons
{
    place-self: center;
    
}
.notifTitle
{
    font-size: 16px;
}
