<div class="right-bar shadow">
  <div style="padding: 20px">
    <div class="profile">
      <div class="profile-img">
        <img class="img" src="./assets/img/profile.png" alt="" />
      </div>
      <div class="profile-info">
        <div style="margin-top: 10px">
          <div class="profile-amount bold">Enkhbayar Khurtsbaatar</div>
          <div class="gray">Last login 2 months ago</div>
        </div>
        <div style="margin-top: 10px" (click)="changeLang('mn')">
          <span class="gray">EN</span>
          <span class="bold"> | </span>
          <span class="gray">MN</span>
        </div>
      </div>
    </div>

    <app-quick-transaction></app-quick-transaction>
  </div>
  <div>
    <app-currency-info [visibleChat]="true"></app-currency-info>
  </div>
</div>
