<div class="gridnotifArd mat-row">
    <div  style="padding-left: 1rem;">
        <div class="notifIcon shadow">
            <span class="material-icons ">
                notifications
            </span>
        </div> 
    </div> 

    <div>
        <div class="notifTitle bold" style="color: black;"> Монголын анхны Үндэсний Хөрөнгө Оруулалтын Сан нээгдлээ. </div>
        <div class="desc"> Ard Financial Group </div>
    </div>

    <div>
        <mat-icon>more_horiz</mat-icon>    
    </div>
</div>