

    <div class="form-content">
      <div class="grid-pass">
        <div> {{"firstName" | translate}}</div>
        <div class="input">
          {{userData.firstName}}
        </div>
      </div>
  
      <div class="grid-pass">
        <div> {{"lastName" | translate}}</div>
        <div class="input">
          {{userData.lastName}}
        </div>
      </div>
  
      <div class="grid-pass">
        <div>{{"idNumber" | translate}}</div>
        <div class="input">
          {{userData.idNumber}}
        </div>
      </div>

      <div class="grid-pass">
        <div>{{"position" | translate}}</div>
        <div class="input">
            {{roleInfo?.name}}
        </div>
      </div>

      <div class="grid-pass">
        <div>{{"phoneNumber" | translate}}</div>
        <div class="input">
          {{userData.phoneNumber}}
        </div>
      </div>


    </div>
  
    <div class="form-action">
      <button type="button" mat-flat-button class="cancel" (click)="cancel()">Cancel</button>
      <button type="submit" mat-flat-button color="warn" (click)="saveUser()">Confirm</button>
    </div>
 
  