// Utilities
@import "../../../utilities/variables.scss";

.background-white {
  background-color: $white !important;
}

.left-side {
  height: 100vh;
  padding: 0rem 3rem 0rem 2rem;
  display: grid;
  grid-template-rows: 70% 20%;
  position: relative;
}

.header2 {
  font-size: 56px;
  line-height: normal;
}

.greeting {
  padding-top: 2rem;
}


.row-2 {
  display: grid;
  grid-template-rows: 50% 50%;
}

.flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 95%;
}

.rate-section {
  max-height: fit-content;
  height: 100%;
}

.joinButton {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1.5rem;
  z-index: 999;
}

/* focused color */
::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  color: $lightgray !important;
}

.header {
  font-size: 64px !important;
  color: $gray;
  line-height: normal;
}
