<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "template" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">




    <mat-tab-group dynamicHeight mat-align-tabs="start" disableRipple="true" animationDuration="0ms">
      <form [formGroup]="template" class="right-side">
        <mat-tab label="Create">

          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Transaction name" formControlName="useramount">
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="never" class="full-width">
            <span matPrefix style="margin-top: -2px;"> </span>
            <mat-select placeholder="Default account">
              <mat-option value="option">5000611662</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="outline" floatLabel="never" class="full-width">
            <span matPrefix style="margin-top: -2px;"> </span>
            <mat-select placeholder="Receivers bank">
              <mat-option value="option">Khan bank</mat-option>
              <mat-option value="option">Golomt bank</mat-option>
              <mat-option value="option">Xas bank</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Receiver name" formControlName="useramount">
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Account number" formControlName="useramount">
          </mat-form-field>


          <div class="amount">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Amount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">MNT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Description" formControlName="useramount">
          </mat-form-field>

          <div class="grid-container">

            <span></span>
            <button mat-raised-button class="cancel shadow">Cancel</button>

            <button mat-raised-button color="warn" class="shadow">Send</button>
          </div>



        </mat-tab>
      </form>


      <mat-tab label="List">
      <ul class="divider">
        <li class="item">Whiskey</li>
        <li class="value"> 500,000 MNT</li>
        
      </ul>

      <ul class="divider">
        <li class="item">Beer</li>
        <li class="value">100,000 MNT</li>
      </ul>

      </mat-tab>

    </mat-tab-group>
    

  </div>
</div>
