<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png" />
    <div class="grid-2">
      <div class="main-header-label">{{ "notification" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png" />ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="mat-row" *ngFor="let item of notifs">
      <ng-container *ngIf="item.recType == typeTran">
        <app-notif-tran [notif]="item"></app-notif-tran>
      </ng-container>
      <ng-container *ngIf="item.recType == typeNotif">
        <app-notif-detail [notif]="item"> </app-notif-detail>
      </ng-container>
    </div>
  </div>
</div>
