@import "./../../../utilities/variables.scss";

.gridnotif {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.mat-row {
    color: $gray;
}


.gridnotif> div{
    align-self: center;
}
