@import "./../../../utilities/variables.scss";

.gridnotif {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
}



.gridnotif> div{
    align-self: center;
}
.notif-row {
  color: $gray;
  height: 60px;

  td.mat-cell {
    color: #919699;
  }
}

