<div class="gridnotif notif-row">
    <div  style="padding-left: 1rem;">
        <div>
            <img src="./../../../../assets/img/xac.png" alt="" class="fiIcon">
        </div>
        
    </div>
    <div>
        <div class="bankName bold" style="color: black;">
            {{notif.fiName}}
          </div>
          <div class="desc">
            {{txn.getCorrespondingName(notif)}}
          </div>
    </div>

    <div class="outcome bold"  [ngClass]="{ income: isIncome === true }">
        {{txn.getCurrencySymbol(notif.txnCur)}} {{notif.txnAmt}}
      </div>
    <div>
        <div class="bankName bold">
            {{txn.getCorrespondingCode(notif)}}
          </div>
          <div class="desc">
            Vodka
          </div>
    </div>

    <div>
        {{formatDate()}}
        <div class="desc">
            {{formatTime()}}
        </div>
        
    </div>
    <div>
        <mat-icon>more_horiz</mat-icon>    
    </div>
</div>
