<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "transfer" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">
    <mat-tab-group dynamicHeight mat-align-tabs="start" disableRipple="true" animationDuration="0ms">

      <form [formGroup]="main" class="right-side">
        <mat-tab label="To ard">
          <mat-form-field appearance="outline" floatLabel="never" class="full-width">
            <span matPrefix style="margin-top: -2px;">From &nbsp;&nbsp;</span>
            <mat-select>
              <mat-option value="option">5000611662</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="account">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Receivers account" formControlName="useramount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">5000611662</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Receivers amount" formControlName="useramount">
          </mat-form-field>
          <div class="amount">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Amount" formControlName="useramount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">MNT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grid-2">
            <span></span>
            <button mat-flat-button color="warn" style="width: 50%;">Send</button>
          </div>
        </mat-tab>
      </form>
      <form [formGroup]="main" class="right-side">
        <mat-tab label="Own account">
          <mat-form-field appearance="outline" floatLabel="never" class="full-width">
            <span matPrefix style="margin-top: -2px;">From &nbsp;&nbsp;</span>
            <mat-select>
              <mat-option value="option">5000611662</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" color="primary" class="full-width">
            <input matInput placeholder="Receivers phone number" maxlength="8" formControlName="useramount">
          </mat-form-field>
          <div class="amount">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Amount" formControlName="useramount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">MNT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grid-2">
            <span></span>
            <button mat-flat-button color="warn" style="width: 50%;">Send</button>
          </div>
        </mat-tab>
      </form>
      <form [formGroup]="main" class="right-side">

        <!-- Other bank -->
        <mat-tab label="Other bank">
          <mat-form-field appearance="outline" placeholder="Amount" class="full-width">
            <mat-select>
              <mat-option value="option">5000611662</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="amount">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Amount" formControlName="useramount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">MNT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" floatLabel="never" class="full-width">
            <mat-select placeholder="Receivers account">
              <mat-option value="option">5000611662</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="amount">
            <mat-form-field appearance="outline" color="primary">
              <input matInput placeholder="Receiving amount" formControlName="useramount">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never">
              <mat-select>
                <mat-option value="option">MNT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grid-2">
            <span></span>
            <div class="grid-2" style="width: 50%; grid-gap: 10px;">
              <button mat-flat-button color="primary" class="full-width">Cancel</button>
              <button mat-flat-button color="warn" class="full-width">Exchange</button>
            </div>
          </div>
        </mat-tab>

      </form>
      <!-- Pending -->
      <mat-tab label="Pending">
        
        <table mat-table [dataSource]="PendingTxn" class="mat-elevation-z0">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row;  let i = index;">
              <mat-checkbox [(ngModel)]="arrayCheckBoxList[i]">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- bankamount Column -->
          <ng-container matColumnDef="bankamount">
            <th mat-header-cell *matHeaderCellDef> Bank name/Correspondent name </th>
            <td mat-cell *matCellDef="let element">
              <div class="inline">
                <img src="./../../../../assets/img/xac.png" alt="" class="fiIcon">
                <div style="padding-left: 1rem;">
                  <div class="bankName" style="color: black;">
                    {{element.dstFiCode}}
                  </div>
                  <div class="desc">
                    {{element.dstAcntName}}
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element">
              <div class="outcome" [ngClass]="{'income': test === false}">
                ₮{{element.txnAmt}}
              </div>
            </td>
          </ng-container>

          <!-- Account number/Description -->
          <ng-container matColumnDef="acntNo">
            <th mat-header-cell *matHeaderCellDef> Account number/Description </th>
            <td mat-cell *matCellDef="let element">
              <div class="bankName">
                {{element.dstAcntId}}
              </div>
              <div class="desc">
                {{element.acntCode}}
              </div>
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.pendId}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="grid-2">
          <span></span>
          <div class="grid-2" style="width: 50%; grid-gap: 10px;">
            <button mat-flat-button color="primary" class="full-width">Cancel</button>
            <button mat-flat-button color="warn" class="full-width"  (click)="OpenPendingComp()">Next</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
