<div  class="title">{{data.title}}  </div>

<mat-dialog-content>
    <ng-container *ngIf="data.type == test.password">
        <app-password-change></app-password-change>
    </ng-container>
    <ng-container *ngIf="data.type == test.location">
        <app-add-location></app-add-location>
    </ng-container>
    <ng-container *ngIf="data.type == test.addUser">
       <app-add-user></app-add-user> 
    </ng-container>
    <ng-container *ngIf="data.type == test.createPassword">
        <app-password-create></app-password-create>
    </ng-container>

</mat-dialog-content>