<div class="title">{{ data.title }}</div>

<mat-dialog-content>
  <!-- Conflicted after name -->
  <!-- <ng-container *ngIf="data.type == test.password">
    <app-password-change></app-password-change>
  </ng-container> -->
  <ng-container *ngIf="data.type == test.location">
    <app-add-location (getLocData)="getLocData($event)"></app-add-location>

  </ng-container>
  <ng-container *ngIf="data.type == test.addUser">
    <app-add-user [roleInfo]="roles"></app-add-user>
  </ng-container>
  <ng-container *ngIf="data.type == test.createPinDialog">
    <app-create-pin-dialog></app-create-pin-dialog>
  </ng-container>
  <ng-container *ngIf="data.type == test.changePinDialog">
    <app-change-pin-dialog></app-change-pin-dialog>
  </ng-container>
  <ng-container *ngIf="data.type == test.reportFilter">
    <app-report-filter></app-report-filter>
  </ng-container>
  <ng-container *ngIf="data.type == test.qr">
    <app-qr-download [qrListItem]="this.value"></app-qr-download>
  </ng-container>
  <ng-container *ngIf="data.type == test.chooseMerchant">
    <app-choose-merchant [merchantList]="this.value"></app-choose-merchant>
  </ng-container>
  <ng-container *ngIf="data.type == test.confirmUser">
    <app-confirm-user [userData]="userInfo" [roleInfo]="this.data.roleId"></app-confirm-user>
  </ng-container>

</mat-dialog-content>