@import "../../../utilities/variables.scss";

  .title {
      font-size: 24px;
      padding: 1rem;
      background-color: $lightgray;
      margin-left: -24px;
      margin-top: -24px;
      margin-right: -24px;
  }
  .mat-dialog-content {
      padding-top: 1rem;
      overflow-x: hidden;
   
  }

