<title> Change password</title>
<form>

  <div class="form-content">
    <div class="grid-pass">
      <div> Old password</div>
      <div class="input">
        <input type="password" matInput formControlName="">
      </div>
    </div>

    <div class="grid-pass">
      <div> New password</div>
      <div class="input">
        <input type="password" matInput formControlName="">
      </div>
    </div>

    <div class="grid-pass">
      <div> Current password</div>
      <div class="input">
        <input type="password" matInput formControlName="">
      </div>
    </div>
  </div>

  <div class="form-action">
    <button mat-flat-button class="cancel">Cancel</button>
    <button mat-flat-button color="warn">Save</button>
  </div>
</form>