@import "../../../utilities/variables.scss";

ul {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    height: 4rem;
    margin-left: -40px;
}
// ul:last-child {
//     border: none;
// }
li{
    padding-right: 40px;
    align-self: center;
}


.title {
    color:$gray;
}

.pass{
    text-decoration: underline;
}