<title>Filter</title>
<form [formGroup]="main">
  <div class="grid-pass">
    <div>Type</div>
    <div class="input">
      <input matInput formControlName="type" />
    </div>
  </div>
  <div class="grid-pass">
    <div>Channel</div>
    <div class="input">
      <input matInput formControlName="channel" />
    </div>
  </div>
  <div class="grid-pass">
    <div>Currenct</div>
    <div class="input">
      <input matInput formControlName="currency" />
    </div>
  </div>
  <div class="grid-pass">
    <div>Sender Number</div>
    <div class="input">
      <input matInput formControlName="senderNumber" />
    </div>
  </div>
  <div class="grid-pass">
    <div>Reciever Number</div>
    <div class="input">
      <input matInput formControlName="recieverNumber" />
    </div>
  </div>
  <div class="grid-pass">
    <div>Transaction Number</div>
    <div class="input">
      <input matInput formControlName="transactionNumber" />
    </div>
  </div>

  <!-- It may not be a dropdown selecct !!! -->

  <!-- <div class="form-content">
    <div class="grid-pass">
      <div>Type</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Channel</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="channel">
          <mat-option *ngFor="let channel of channels" [value]="animal">
            {{channel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  <!-- <div class="grid-pass">
      <div>Currency</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="animal">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Sender number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="animal">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Reciever number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="animal">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Transaction number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="animal">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> 
  </div> -->

  <div class="form-action">
    <button
      (click)="cancel()"
      mat-flat-button
      color="disabled"
      style="background-color: #f6f7f8"
    >
      Cancel
    </button>
    <button (click)="save()" mat-flat-button color="warn">Save</button>
  </div>
</form>
