@import "../../../utilities/variables.scss";
// @import "../../../../app/../styles.scss";

div{
    white-space: nowrap;
    color: $gray;
}
.label{
    color: #373737;
    font-weight: 100;
}

.grid-pass {
    display: grid;
    grid-template-columns: 8rem 12rem;
}

.select{
    margin-top: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    // finally
    padding: 2.5px 0 2.5px 0 !important;
}
:host ::ng-deep .mat-form-field-wrapper{
    padding: 0;
}
:host ::ng-deep .mat-form-field-flex{
    border-style: solid;
    border-color: #e9eaea;
    border-width: 1px;
    border-radius: 8px;
    width: 205.2px;
    background-color: $lightgray;
    padding-left: 10px;
}
// :host ::ng-deep .mat-select-arrow {
//     margin: 0;
// }
:host ::ng-deep .mat-select-arrow-wrapper{
    transform: scaleX(1) scaleY(1.2) translateX(9px) !important;
}


.input
{
    border-style: solid;
    border-color: #e9eaea;
    border-width: 1px;
    border-radius: 8px;
    width: 100%;
    background-color: $lightgray;
    padding-left: 10px;
    color: black;
}
.form-action {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
    
}
.form-action > button {
    border-radius: 8px;
    width: 95%;
    
    align-items: center;
    
    
}
.form-action > button:nth-child(even) {
    justify-self: end;
}
.form-action > button:nth-child(odd) {
    justify-self: start;
}
.cancel {
    background-color: $lightgray;
}
