<title>Filter</title>
<form>
  <div class="form-content">
    <div class="grid-pass">
      <div>Type</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
      <mat-select class="mat-select">
          <mat-option value="option">Type1</mat-option>
          <mat-option value="option2">Type2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Channel</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select class="mat-select">
          <mat-option value="option">Channel1</mat-option>
          <mat-option value="option2">Channel2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Currency</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select class="mat-select">
          <mat-option value="option">Currency1</mat-option>
          <mat-option value="option2">Currency2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Sender number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select class="mat-select">
          <mat-option value="option">Sender name1</mat-option>
          <mat-option value="option2">Sender name2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Reciever number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select class="mat-select">
          <mat-option value="option">Reciever name1</mat-option>
          <mat-option value="option2">Reciever name2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass">
      <div>Transaction number</div>
      <mat-form-field appearance="outline" floatLabel="never" class="select">
        <mat-select class="mat-select">
          <mat-option value="option">Transaction number1</mat-option>
          <mat-option value="option2">Transaction number2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-action">
    <button mat-flat-button color="disabled" style="background-color: #f6f7f8">
      Cancel
    </button>
    <button mat-flat-button color="warn">Save</button>
  </div>
</form>
