<title>Filter</title>
<form [formGroup]="main">
  <div class="form-content">
  <div class="grid-pass">
    <div class="label">Type</div>
    <mat-form-field appearance="outline" floatLabel="never" >
      <mat-select formControlName="type">
        <mat-option *ngFor="let el of typeDict" [value]="el">
          {{ el.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="grid-pass select" style="margin-top: 10px;">
      <div class="label">Channel</div>
      <mat-form-field appearance="outline" floatLabel="never" >
        <mat-select formControlName="channel">
          <mat-option *ngFor="let el of channelDict" [value]="el">
            {{ el.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass select" style="margin-top: 10px;">
      <div class="label">Currency</div>
      <mat-form-field appearance="outline" floatLabel="never" >
        <mat-select formControlName="currency">
          <mat-option *ngFor="let el of currencyDict" [value]="el">
            {{ el.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-pass select" style="margin-top: 10px;">
      <div class="label">Sender number</div>
      <div class="input">
        <input type="text" matInput formControlName="senderNumber">
      </div>
    </div>
    <div class="grid-pass" style="margin-top: 15px;">
      <div class="label">Reciever number</div>
      <div class="input">
        <input type="text" matInput formControlName="recieverNumber">
      </div>
    </div>
    <div class="grid-pass" style="margin-top: 15px;">
      <div class="label">Transaction number</div>
      <div class="input">
        <input type="text" matInput formControlName="transactionNumber">
      </div>
    </div>
  </div>

  <div class="form-action">
    <button
      (click)="cancel()"
      mat-flat-button
      color="disabled"
      style="background-color: #f6f7f8"
    >
      Cancel
    </button>
    <button (click)="save()" mat-flat-button color="warn">Save</button>
  </div>
</form>
