<form>

    <div class="form-content">
      <div class="grid-pass">
        <div> {{"firstName" | translate}}</div>
        <div class="input">
          <input type="text" matInput formControlName="" >
        </div>
      </div>
  
      <div class="grid-pass">
        <div> {{"lastName" | translate}}</div>
        <div class="input">
          <input type="text" matInput formControlName="">
        </div>
      </div>
  
      <div class="grid-pass">
        <div>{{"idNumber" | translate}}</div>
        <div class="input">
          <input type="text" matInput formControlName="">
        </div>
      </div>

      <div class="grid-pass">
        <div>{{"position" | translate}}</div>
        <div class="input">
          <input type="text" matInput formControlName="">
        </div>
      </div>

      <div class="grid-pass">
        <div>{{"phoneNumber" | translate}}</div>
        <div class="input">
          <input type="text" matInput formControlName="">
        </div>
      </div>


    </div>
  
    <div class="form-action">
      <button mat-flat-button class="cancel">Cancel</button>
      <button mat-flat-button color="warn">Save</button>
    </div>
  </form>
  