<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "settings.administration" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  
  <div class="main-container">

   
      <div class="users-list divider">
        <div class="roles"> administrator</div>
        <div class="users"> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div>
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
        </div>
        <div class="addUser">
          <div (click)="openDialog()" class="empty-button"><mat-icon aria-hidden="false" matPrefix>person_add</mat-icon>{{'adduser' | translate}}
          </div>         
        </div>
      </div>

      <div class="users-list divider">
        <div class="roles"> Moderator</div>
        <div class="users"> 
           <div ><mat-icon class="empty-button" aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div>
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
        </div>
        <div class="addUser">
          <div (click)="openDialog()" class="empty-button"><mat-icon aria-hidden="false" matPrefix>person_add</mat-icon>{{'adduser' | translate}}
          </div>         
        </div>
      </div>

      <div class="users-list divider">
        <div class="roles"> Normal</div>
        <div class="users"> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div>
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  od bat</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
           
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div>  
           <div><mat-icon aria-hidden="false" class="remove_circle" matPrefix>remove_circle</mat-icon>  bilguun lkhagvapurev</div> 
        </div>
        <div class="addUser">
          <div (click)="openDialog()" class="empty-button"><mat-icon aria-hidden="false" matPrefix>person_add</mat-icon>{{'adduser' | translate}}
          </div>         
        </div>
      </div>






  
  </div>
</div>
