<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "settings.administration" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">

    <div class="users-list">
      <div class="divider"> 
        <div class="roles"> </div>
        <div class="users"> </div>
        <div class="addUser"></div>
      </div>
    </div>

    <ul class="divider">
      <li class="roles" > {{'administrator' | translate}}</li>
      <li class="users" *ng> <span> bilguun lkhagvapurev</span> <span> bilguun lkhagvapurev</span> <span> bilguun
          lkhagvapurev</span> <span> bilguun lkhagvapurev</span> </li>
      <li class="adduser"> <mat-icon aria-hidden="false" matPrefix >calendar_today</mat-icon>{{'adduser' | translate}}</li>
    </ul>
    <ul class="divider">
      <li class="roles"> {{'administrator' | translate}}</li>
      <li class="users"> <span> bilguun lkhagvapurev</span> <span> bilguun lkhagvapurev</span> <span> bilguun
          lkhagvapurev</span> <span> bilguun lkhagvapurev</span> </li>
      <li class="adduser"> {{'adduser' | translate}}</li>
    </ul>
    <ul class="divider">
      <li class="roles"> {{'administrator' | translate}}</li>
      <li class="users"> <span> bilguun lkhagvapurev</span> <span> bilguun lkhagvapurev</span> <span> bilguun
          lkhagvapurev</span> <span> bilguun lkhagvapurev</span> </li>
      <li class="adduser"> {{'adduser' | translate}}</li>
    </ul>
  </div>
</div>
