// Utilities
@import "../../../utilities/variables.scss";

.background-white {
  background-color: $white !important;
}

.right-side {
  padding: 0rem 3rem 0rem 3rem;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    padding-top: 2rem;
  }
}

.header2 {
  font-size: 56px;
  margin-top: 1rem;
  height: 40px !important;
}

.icon {
  width: 50%;
}

.greeting {
  height: 80%;
}

.login-section {
  margin-top: 2rem;
}

.row-2 {
  display: grid;
  grid-template-rows: 50% 50%;
}

.flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    height: max-content;
  }
}

.rate-section {
  max-height: fit-content;
  height: 100%;
}

.joinButton {
  position: absolute;
  margin-top: -4rem;
  z-index: 999;
}

.carousel {
  height: 20%;
}

/* focused color */
::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  color: $lightgray !important;
}

.header {
  font-size: 64px !important;
  height: 100px !important;
  color: $gray;
}
