<form [formGroup]="addLoc">

  <div class="form-content">
    <div class="grid-pass" [ngClass]="!submitted   ? 'grid-pass' :'grid-error'">
      <div> location</div>
      <div class="input" [ngClass]="!addLocFormControl.location.valid    ? 'input' :'input-valid'">
        <mat-icon aria-hidden="false" matPrefix>location_on</mat-icon>
        <input type="text" matInput disabled maxlength="40" formControlName="location">
      </div>
      <span></span>
      <span class="text-danger"
        *ngIf="(addLocFormControl.location.touched || submitted) && addLocFormControl.location.errors?.required">
        location is required
      </span>
    </div>

    <div class="grid-pass" [ngClass]="!submitted   ? 'grid-pass' :'grid-error'">
      <div> Date</div>
      <div class="input empty-button" (click)="picker.open()"
        [ngClass]="!addLocFormControl.date.valid    ? 'input' :'input-valid'">
        <mat-icon aria-hidden="false" matPrefix>calendar_today</mat-icon>
        <mat-form-field class="example-full-width">
          <input [matDatepicker]="picker" [min]="minDate" [max]="maxDate" matInput formControlName="date">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <span></span>
      <span class="text-danger"
        *ngIf="(addLocFormControl.location.touched || submitted) && addLocFormControl.location.errors?.required">
        Date is required
      </span>
    </div>

    <div class="grid-pass">
      <div> Time</div>
      <div class="input">
        <mat-icon aria-hidden="false" matPrefix>timer</mat-icon>
        <mat-select formControlName="time" matInput [(value)]="selected">
          <mat-option value="09:00 AM">9:00 AM</mat-option>
          <mat-option value="09:30 AM">9:30 AM</mat-option>
          <mat-option value="10:00 AM">10:00 AM</mat-option>
          <mat-option value="10:00 AM"> 10:30 AM</mat-option>
          <mat-option value="10:00 AM">11:00 AM</mat-option>
          <mat-option value="11:30 AM">11:30 AM</mat-option>
          <mat-option value="12:00 PM">12:00 PM</mat-option>
          <mat-option value="12:30 PM">12:30 PM</mat-option>
          <mat-option value="13:00 PM">13:00 PM</mat-option>
          <mat-option value="13:30 PM">13:30 PM</mat-option>
        </mat-select>
        <!-- <input type="datetime"  matInput formControlName="time">  -->
      </div>
    </div>
  </div>

  <div class="form-action">
    <button type="button" mat-flat-button class="cancel" (click)="cancel()">Cancel</button>
    <button type="submit" mat-flat-button color="warn" (click)="verifyMerh()">Save</button>
  </div>
</form>