<div class="main-container">
  <div class="row">
    <div class="amount">
      Account amount
    </div>
    <div class="value">
      Thomas Wayne
    </div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <div class="amount">
      Account number
    </div>
    <div class="value">
        5000611663
    </div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <div class="amount">
      Download QR
    </div>
    <div class="value">
        <img src="./../../../../assets/img/test.png" alt="" (click)="open()">
    </div>
  </div>
</div>
