<div class="main-container">
  <div class="row">
    <div class="amount">
      Account amount
    </div>
    <div class="value">
      {{qrListItem.acntName}}
    </div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <div class="amount">
      Account number
    </div>
    <div class="value">
        50006116632
    </div>
  </div>

  <div class="divider"></div>
  <div class="row">
    <div class="amount">
      Download QR
    </div>
    <div class="value" (click)="openDialog()">
      <qr-code elementType="img" value="{{qrListItem.qrCode}}" size="{{width}}" errorCorrectionLevel="M"></qr-code>
    </div>
  </div>
</div>
