.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;

  .amount {}

  .value {
    color: #919699;
    
    canvas {
      margin-top:20px !important;
    }
  }
}
.qrcode {
  display: flex;
  margin-top: 15px;


  position: relative;
  
}
.border {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  height: 42px;
  width: 42px;
  margin: 18px;
  margin-left: 3px;
  z-index: 2;
}

.main-container {
  margin-bottom: 1rem;
}
