<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "settings.verify" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">
    <mat-radio-group class="divider">
      <mat-radio-button value="1">
        <ul>
          <li class="item">eSignature</li>
          <li class="value" class="empty-button">
            <mat-icon aria-hidden="false">upload</mat-icon>
            Upload
          </li>
        </ul>
      </mat-radio-button>

      <mat-radio-button value="2" class="divider">
        <ul>
          <li class="item">From delivery</li>
          <ng-container *ngIf="verifType==null && savedLocData==null">
            <li class="value" (click)="openDialog()" class="empty-button">
              <mat-icon aria-hidden="false">location_on</mat-icon>
              Add location
            </li>
          </ng-container>
          <ng-container *ngIf="verifType==null && savedLocData!=null">
            <li class="value" (click)="openDialog()" class="empty-button">
              {{savedLocData.location}} ,  {{savedLocData.date}} 
             
            </li>
          </ng-container>
          <ng-container *ngIf="verifType!=null">
            <li class="value" (click)="openDialog()" class="empty-button">

            </li>
          </ng-container>

        </ul>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>