@import "../../../utilities/variables.scss";

mat-radio-group {
    display: grid;

}
::ng-deep .mat-radio-label-content {
    width: 100%;
}
ul {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    height: 4rem;
    margin-left: -40px;
}
ul:last-child {
    border: none;
}
li{
    padding-right: 40px;
    align-self: center;
}
.empty-button {
    justify-self: end;
    color:$gray;
}
.item {
    justify-self: start ;
}
.mat-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
}
