@import "../../../utilities/variables.scss";

mat-radio-group {
    display: grid;

}
::ng-deep .mat-radio-label-content {
    width: 100%;
}
ul {
    display: grid;
    grid-template-columns: 35% 65%;
    list-style-type: none;
    height: 4rem;
    margin-left: -40px;
}

li{
    padding-right: 40px;
    align-self: center;
}
.empty-button {
    justify-self: end;
    color:$gray;
}
.item {
    justify-self: start ;
}
.mat-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
}
.dataAdded {
    display: grid;
    grid-template-columns: 60% auto auto;


}
.dataAdded div {
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}