<div class="main">
  <div class="main-header">
    <img class="icon" src="assets/img/logo.png">
    <div class="grid-2">
      <div class="main-header-label">{{ "settings.general" | translate }}</div>
      <div class="balance">
        <img src="assets/img/icon.png">ArdCoin balance: 5,000
      </div>
    </div>
  </div>
  <div class="main-container">
    <mat-tab-group dynamicHeight mat-align-tabs="start" disableRipple="true" animationDuration="0ms"
      [selectedIndex]="tabIndex" (selectedIndexChange)="setTabIndex($event)">
      <mat-tab label="{{'company' | translate}}">
        <form [formGroup]="compSett">
          <ul class="divider">
            <li class="title"> {{'companyName' | translate}}</li>
            <li class="info">
              <input matInput type="text" formControlName="merchName" value="{{accountDet?.merchName}}">
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'companyType' | translate}}</li>
            <li class="info">
              <mat-select formControlName="orgTypeId">
                <mat-option *ngFor="let org  of dicOrg; index as i" [value]="org?.id">{{org?.name}}</mat-option>
              </mat-select>

            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'companyNumber' | translate}}</li>
            <li class="info"> <input type="text" formControlName="registerCode" value="{{accountDet?.registerCode }}">
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'companyAddress' | translate}}</li>
            <li class="info"><input type="text" formControlName="address" value="{{accountDet?.address }}"> </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'vat' | translate}}</li>
            <li class="info">
              <mat-slide-toggle checked formControlName="isChecked" color="warn"></mat-slide-toggle>
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'phone' | translate}}</li>
            <li class="info"><input type="text" formControlName="phone" value="{{accountDet?.phone}}"> </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'e-mail' | translate}}</li>
            <li class="info"><input type="text" formControlName="email" value="{{accountDet?.email}}"> </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'notifcationChannel' | translate}}</li>
            <li class="info">
              <mat-select formControlName="notifChannel" (selectionChange)="doSomething($event)">
                <mat-option *ngFor="let notif  of dicNotif" [value]="notif?.id">{{notif?.name}}</mat-option>
              </mat-select>
            </li>
          </ul>
          <ul>

            <ng-container *ngIf="verfStat">
              <li class="title"> <span matBadge="&#8288;" matBadgeSize="small" matBadgeColor="warn"
                  matBadgeOverlap="false">{{'verifyStatus' | translate}}</span></li>
              <li class="info underline-button" (click)="verify()">{{accountDet?.verfStatusName }}</li>
            </ng-container>
            <ng-container *ngIf="!verfStat">
              <li class="title"> {{'verifyStatus' | translate}}</li>
              <li class="info ">{{accountDet?.verfStatusName }}</li>
            </ng-container>
          </ul>

          <div class="grid-container">

            <span></span>
            <button mat-raised-button class="cancel shadow">Cancel</button>

            <button mat-raised-button color="warn" class="shadow" (click)="saveCompanyInfo()"> Save</button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="{{'personal' | translate}}">
        <form [formGroup]="personalSett">
          <ul class="divider">
            <li class="title"> {{'firstName' | translate}}</li>
            <li class="info"> <input matInput type="text" formControlName="firstName" value="{{personalAccountDet?.firstName}}  ">
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'lastName' | translate}}</li>
            <li class="info"> <input matInput type="text" formControlName="lastName" value="{{personalAccountDet?.lastName}} ">
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'mobileNumber' | translate}}</li>
            <li class="info"> <input matInput type="text" formControlName="mNumber" value="{{personalAccountDet?.msisdn}}">
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'address' | translate}}</li>
            <li class="info"> <input  readonly formControlName="location" value="{{personalAccountDet?.addrDetail}}"> 
            </li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'e-mail' | translate}}</li>
            <li class="info"><input matInput type="text" formControlName="email" value="{{personalAccountDet?.email}}"></li>
          </ul>
          <ul class="divider">
            <li class="title"> {{'notifcationChannel' | translate}}</li>
            <li class="info">
              <mat-select disabled formControlName="notifChannel" (selectionChange)="doSomething($event)">
                <mat-option  *ngFor="let notif  of dicNotif" [value]="notif?.id">{{notif?.name}}</mat-option>
              </mat-select>
            </li>
          </ul>
        </form>
      </mat-tab>

    </mat-tab-group>


  </div>
</div>